{% load static %}
<script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/purecounter_vanilla.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery-1.11.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/slick-lightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/ling-gallery-filter.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>