<div class="side-panel">
    <div class="panel-btn">
        <span class="panel-svg" id="panel-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.97 384.97" width="512" height="512"
                data-prefix="i6olwh0j1">
                <path
                    d="M12.03 120.303h360.909c6.641 0 12.03-5.39 12.03-12.03 0-6.641-5.39-12.03-12.03-12.03H12.03c-6.641 0-12.03 5.39-12.03 12.03s5.39 12.03 12.03 12.03zM372.939 180.455H12.03c-6.641 0-12.03 5.39-12.03 12.03s5.39 12.03 12.03 12.03h360.909c6.641 0 12.03-5.39 12.03-12.03s-5.389-12.03-12.03-12.03zM372.939 264.667H132.333c-6.641 0-12.03 5.39-12.03 12.03 0 6.641 5.39 12.03 12.03 12.03h240.606c6.641 0 12.03-5.39 12.03-12.03.001-6.641-5.389-12.03-12.03-12.03z"
                    data-original="#000000" class="path-i5s7bgi9a" data-old_color="#000000"></path>
            </svg>
        </span>
    </div>
    <div class="side-panel-mask">
    </div>
    <div class="side-panel-content">
        <div class="panel-close-btn" id="panel-close">
            <span class="close-btn-svg">
                <svg data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512"
                    height="512" data-prefix="iwwvxf0o1">
                    <path
                        d="M512 30.17L481.83 0 256 225.83 30.17 0 0 30.17 225.83 256 0 481.83 30.17 512 256 286.17 481.83 512 512 481.83 286.17 256z"
                        class="path-i9kmxzfq3"></path>
                </svg>
            </span>
        </div>
        <div class="side-panel-content-inner">
            <div class="vertical-menu">
                <div class="vertical-menu-list">
                    <li class="vertical-menu-item">
                        <a href="{% url 'index' %}" class="ver-menu-link">
                            <span class="ver-menu-text">
                                <span class="wrap-div">главная</span>
                            </span>
                        </a>
                    </li>
                    <li class="vertical-menu-item">
                        <a href="#" class="ver-menu-link">
                            <span class="ver-menu-text">
                                <span class="wrap-div">о компании</span>
                            </span>
                        </a>
                    </li>
                    <li class="vertical-menu-item">
                        <a href="{% url 'portfolio' %}" class="ver-menu-link">
                            <span class="ver-menu-text">
                                <span class="wrap-div">Портфолио</span>
                            </span>
                        </a>
                    </li>
                    <li class="vertical-menu-item">
                        <a href="#" class="ver-menu-link">
                            <span class="ver-menu-text">
                                <span class="wrap-div">Наши награды</span>
                            </span>
                        </a>
                    </li>
                    <li class="vertical-menu-item">
                        <a href="#" class="ver-menu-link">
                            <span class="ver-menu-text">
                                <span class="wrap-div">Новости</span>
                            </span>
                        </a>
                    </li>
                    <li class="vertical-menu-item">
                        <a href="#" class="ver-menu-link">
                            <span class="ver-menu-text">
                                <span class="wrap-div">Контакты</span>
                            </span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>