{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ASR{% endblock title %}</title>
    {% include 'blocks/styles.html' %}

    {% block custom_css %}{% endblock custom_css%}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'main/img/statics/logo.png' %}">
</head>
<body>
    <div class="main-wrap">
        {% include 'blocks/header.html' %}

        {% block content %}

        {% endblock content %}

        {% include 'blocks/footer.html' %}

        {% include 'blocks/side-panel.html' %}

        {% include 'blocks/scripts.html' %}
    </div>
</body>
</html>